<div class="card">
  <div class="card-body">
    <div class="container">
        <div class="col text-center">
          <button type="button" class="btn btn-md btn-space btn-primary" ng-click="addProject=true">Add Project</button>
          <button type="button" class="btn btn-md btn-space btn-primary" ng-click="addTask=true">Add Task</button>
          <button type="button" class="btn btn-md btn-space btn-primary" ng-click="addUser=true">Add User</button>
          <button type="button" class="btn btn-md btn-space btn-primary" ng-click="viewTask=true">View Task</button>
        </div>
    </div>
    <div ng-if="addProject">
      <app-project></app-project>
    </div>
    <div ng-if="addTask">
      <app-add-task></app-add-task>
    </div>
    <div ng-if="addUser">
      <app-user></app-user>
    </div>
    <div ng-if="viewTask">
      <app-view-task></app-view-task>
    </div>
    
  </div>
</div>