<div class='card'>
    <div class="card-body">
        <div class="container">
          <form id="addTaskForm" #taskForm="ngForm" (ngSubmit)="saveTask(task)">

              <div class="form-group row">
                  <label class="col-form-label col-sm-2"> Project: </label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" #projectName="ngModel" required class="form-control" placeholder="Search project name" 
                             name="projectName" [disabled]="true" [(ngModel)]="task.projectName">
                      <div class="input-group-btn">
                            <button type="submit" class="btn btn-outline-success" [disabled]="isParent || isEdit"> Search </button>
                      </div>
                    </div>
                  </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Task: </label>
                <div class="col-sm-10">
                    <input type="text" #taskName="ngModel" required class="form-control" placeholder="Enter task name" name="taskName"
                          [class.is-invalid]="taskName.invalid && taskName.touched" [(ngModel)]="task.taskName">
                </div>
              </div>
              <small class="text-danger" [class.d-none]="taskName.valid || taskName.untouched">Task is required</small>

              <div class="form-group form-inline">
                <label>
                  <input type="checkbox" class="form-check-input"
                        id="isParent" [disabled]="isEdit" [checked]="isParent" (change)="parentTaskEvent($event)">
                    Parent Task
                </label>
              </div>


              <div class="slidecontainer">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"> Priority: </label>
                  <input type="range" min="0" max="30" #priority="ngModel" required class="form-control slider" name="priority"
                        [disabled]="isParent" [class.is-invalid]="priority.invalid && priority.touched" [(ngModel)]="task.priority">
                  <p style="margin-left: 15px;">{{ task.priority }}</p>
                </div>
              </div>
              <small class="text-danger" [class.d-none]="priority.valid || priority.untouched">Priority is required</small>


              <div class="form-group row">
                  <label class="col-form-label col-sm-2"> Parent Task: </label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" #parentTask="ngModel" required class="form-control" placeholder="Search parentTask name" 
                            [disabled]="true" name="parentTask" [(ngModel)]="task.parentTask">
                      <div class="input-group-btn">
                            <button type="submit" class="btn btn-outline-success" [disabled]="isParent"> Search </button>
                      </div>
                    </div>
                  </div>
              </div>


              <div class="form-group row">
                <div class="input-group">
                    <label class="col-form-label  col-sm-2"> Start Date: </label>
                    <input type="date" class="form-control col-sm-4 datepicker" #startDate="ngModel" required 
                           placeholder="mm/dd/yyyy" name="startDate" [(ngModel)]="task.startDate"
                           min="{{ todayDate }}"  max="{{ task.endDate }}"
                          [disabled]="isParent" [class.is-invalid]="startDate.invalid && startDate.touched">  
                    <label class="col-form-label col-sm-2"> End Date: </label>
                    <input type="date" class="form-control col-sm-4 datepicker" #endDate="ngModel" required 
                           placeholder="mm/dd/yyyy" name="endDate" [(ngModel)]="task.endDate" min="{{ task.startDate }}"
                          [disabled]="isParent" [class.is-invalid]="endDate.invalid && endDate.touched">
                </div>
              </div>


              <div class="form-group row">
                <label class="col-form-label col-sm-2"> User: </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" required class="form-control" placeholder="Enter / Search User name" value="{{ userName }}"
                          [disabled]="true">
                    <div class="input-group-btn">
                          <button type="submit" class="btn btn-outline-success" [disabled]="isParent" > Search </button>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="form-group row">
                  <div class="col-sm-12 text-center">
                      <button id="reset" type="reset" class="btn btn-warning btn-space float-right" *ngIf='!isEdit'> Reset </button>
                      <button id="submit" type="submit" class="btn btn-success btn-space float-right" [disabled]="taskForm.form.invalid" *ngIf='!isEdit'> Add </button>
                      <button id="cancel" class="btn btn-warning btn-space float-right" *ngIf='isEdit' (click)="cancelEdit()"> Cancel </button>
                      <button id="update" type="submit" class="btn btn-success btn-space float-right" [disabled]="taskForm.form.invalid" *ngIf='isEdit'> Update </button>
                  </div>
              </div>

           </form>
        </div>
    </div>
  </div>