<div class='card'>
    <div class="card-body">
        <div class="container">
            <form action="/action_page.php">
              
              <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="project"> Project: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="project" placeholder="Enter project name" name="project">
                </div>
              </div>

              <div class="form-group row">        
                  <div class="checkbox">
                    <label><input type="checkbox" name="setDates"> Set Start and End Date </label>
                  </div>
                  <div class="input-group col-sm-4">
                      <input type="text" class="form-control btn-space" placeholder="Start Date" name="startDate">
                      <input type="text" class="form-control btn-space" placeholder="End Date" name="endDate">
                  </div>
              </div>

              <div class="slidecontainer">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"> Priority: </label>
                  <input type="range" min="1" max="30" value="0" class="slider" id="myRange">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-sm-2"> Manager: </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter / Search Manager name" name="search">
                    <div class="input-group-btn">
                          <button type="submit" class="btn btn-outline-success"> Search </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                  <div class="col-sm-12 text-center">
                    <button type="reset" class="btn btn-warning btn-space float-right"> Reset </button>
                    <button type="submit" class="btn btn-success btn-space float-right"> Add </button>
                  </div>
              </div>

           </form>
        </div>
        
        <hr>

        <div class="form-group">
            <input type="text" class="form-control" id="searchProject" placeholder="Search Project">
        </div>

        <div class="row">
            <div class="col-sm-1"> Sort By: </div>
            <button class="btn btn-secondary btn-space btn-sm"> Start Date </button>
            <button class="btn btn-secondary btn-space btn-sm"> End Date </button>
            <button class="btn btn-secondary btn-space btn-sm"> Priority </button>
            <button class="btn btn-secondary btn-space btn-sm"> Completed </button>
        </div>

        <br>

        <div class="col-sm-12 container">
            <ul class="list-unstyled row" *ngFor = 'let project of projects'>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Project :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ project.project }}</li>
              <li class="list-item col-sm-2 p-1 font-weight-bold text-center">Priority</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-success"> Update </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">No of Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light"> {{ project.numberOfTasks }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Completed Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.completedTasks }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center">{{ project.projectPriority }}</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-warning"> Suspend </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Start Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectStartDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">End Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectEndDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center"> </li>
            </ul>
        </div>

    </div>
  </div>