<div class='card'>
    <div class="card-body">
        <div class="container">
          <form id="addProjectForm" #projectForm="ngForm" (ngSubmit)="saveProject(project)">
              
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Project: </label>
                <div class="col-sm-10">
                  <input type="text" #projectName="ngModel" required class="form-control" placeholder="Enter project name" name="projectName"
                        [class.is-invalid]="projectName.invalid && projectName.touched" [(ngModel)]="project.projectName">
                </div>
              </div>
              <small class="text-danger" [class.d-none]="projectName.valid || projectName.untouched">Project Name is required</small>

              <div class="form-group form-inline">        
                  <div class="checkbox">
                    <label><input type="checkbox" class="form-check-input" name="setDates"
                            id="isDateChecked" [checked]="isDateChecked" (change)="dateSetter($event)">
                      Set Start & End Date 
                    </label>
                  </div>
                  <div class="input-group col-sm-5">
                      <input type="date" required class="form-control datepicker btn-space" #projectStartDate="ngModel" 
                             min="{{ todayDate }}"  max="{{ project.projectEndDate }}" [disabled]=!isDateChecked
                             placeholder="mm/dd/yyyy" name="projectStartDate" [(ngModel)]="project.projectStartDate"
                            [class.is-invalid]="projectStartDate.invalid && projectStartDate.touched" >
                      <input type="date" required class="form-control datepicker btn-space" #projectEndDate="ngModel" 
                             min="{{ project.projectStartDate }}"  [disabled]=!isDateChecked
                             placeholder="mm/dd/yyyy" name="projectEndDate" [(ngModel)]="project.projectEndDate"
                            [class.is-invalid]="projectEndDate.invalid && projectEndDate.touched">
                  </div>
              </div>
              <small class="text-danger" 
                    [class.d-none]="projectStartDate.valid || projectStartDate.untouched || projectEndDate.valid || projectEndDate.untouched">
                    Check Dates and Enter Valid Values</small>

              <div class="slidecontainer">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"> Priority: </label>
                  <input type="range" min="0" max="30" #projectPriority="ngModel" required 
                         class="form-control slider" name="projectPriority" [(ngModel)]="project.projectPriority"
                        [class.is-invalid]="projectPriority.invalid && projectPriority.touched">
                  <p style="margin-left: 15px;">{{ project.projectPriority }}</p>
                </div>
              </div>
              <small class="text-danger" [class.d-none]="projectPriority.valid || projectPriority.untouched">Priority is required</small>

              <div class="form-group row">
                  <label class="col-form-label col-sm-2"> Manager: </label>
                  <div class="col-sm-10">
                      <div class="input-group">
                        <input type="text" placeholder="Select Manager" [disabled]="true" required class="form-control"
                              value="{{ managerName }}" autocomplete="off">
                        <div class="input-group-btn">
                            <button type="button" (click)="openSubModel(content)" class="btn btn-outline-success"> Search </button>
                        </div>
                      </div>
                  </div>    
              </div>
              <small class="text-danger" [class.d-none]="!errorMessage">{{errorMessage}}</small>


              <div class="form-group row">
                  <div class="col-sm-12 text-center">
                      <button id="reset" type="reset" class="btn btn-warning btn-space float-right" *ngIf='!isEdit'> Reset </button>
                      <button id="submit" type="submit" class="btn btn-success btn-space float-right" [disabled]="projectForm.form.invalid" *ngIf='!isEdit'> Add </button>
                      <button id="cancel" class="btn btn-warning btn-space float-right" *ngIf='isEdit' (click)="cancelEdit()"> Cancel </button>
                      <button id="update" type="submit" class="btn btn-success btn-space float-right" [disabled]="projectForm.form.invalid" *ngIf='isEdit'> Update </button>
                  </div>
              </div>

           </form>
        </div>
        
        <hr>

        <div class="form-group">
            <input type="text" class="form-control" id="searchProject" placeholder="Search By Project Name"
                    [(ngModel)]='projectFilter'>
        </div>

        <div class="row">
            <div class="col-sm-1"> Sort By: </div>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByStart()'> Start Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByEnd()'> End Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByPriority()'> Priority {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByCompleted()'> Completed {{ sortOrder ? ' v' : ' ^' }}</button>
        </div>

        <br>

        <div class="col-sm-12 container">
            <ul class="list-unstyled row" *ngFor = 'let project of filteredProjects'>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Project :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ project.projectName }}</li>
              <li class="list-item col-sm-2 p-1 font-weight-bold text-center">Priority</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-success" [disabled]="project.status" (click)="editProjectData(project)"> Update </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">No of Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light"> {{ project.numberOfTasks }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Completed Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.completedTasks }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center">{{ project.projectPriority }}</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-warning" [disabled]="project.status" (click)="suspendProject(project)"> Suspend </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Start Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectStartDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">End Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectEndDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center"> </li>
              <br>
            </ul>
        </div>

    </div>
</div>

<ng-template #content let-modal>
  <div class="double">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="text-align: center"> Select Manager for Project </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group form-inline">
          <label class="modelLabel btn-space"> Manager </label>
          <select class="form-control selectInput" id="selectedManagerId" name="selectedManagerId" [(ngModel)]="selectedManagerId">
            <option *ngFor="let user of users" value="{{user.userId}}">
              {{ user.employeeId }} - {{ user.firstName }} , {{ user.lastName }}
            </option>
          </select>
        </div>
        <button id="selectManager" class="btn btn-success btn-space" (click)="selectManager()">Select</button>
        <button id="cancelButton" class="btn btn-warning btn-space" (click)="modal.dismiss()">Cancel</button>
    </div>
  </div>
</ng-template>