<div class='card'>
    <div class="card-body">
        <div class="container">
          <form id="addProjectForm" #projectForm="ngForm" (ngSubmit)="saveProject(project)">
              
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"> Project: </label>
                <div class="col-sm-10">
                  <input type="text" #projectName="ngModel" required class="form-control" placeholder="Enter project name" name="projectName"
                        [class.is-invalid]="projectName.invalid && projectName.touched" [(ngModel)]="project.projectName">
                </div>
              </div>

              <div class="form-group row">        
                  <div class="checkbox">
                    <label><input type="checkbox" name="setDates"> Set Start and End Date </label>
                  </div>
                  <div class="input-group col-sm-5">
                      <input type="date" required class="form-control datepicker btn-space" #projectStartDate="ngModel" 
                             placeholder="mm/dd/yyyy" name="projectStartDate" [(ngModel)]="project.projectStartDate"
                            [class.is-invalid]="projectStartDate.invalid && projectStartDate.touched" >
                      <input type="date" required class="form-control datepicker btn-space" #projectEndDate="ngModel" 
                             placeholder="mm/dd/yyyy" name="projectEndDate" [(ngModel)]="project.projectEndDate"
                            [class.is-invalid]="projectEndDate.invalid && projectEndDate.touched">
                  </div>
              </div>

              <div class="slidecontainer">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"> Priority: </label>
                  <input type="range" min="0" max="30" #projectPriority="ngModel" required 
                         class="form-control slider" name="projectPriority" [(ngModel)]="project.projectPriority"
                        [class.is-invalid]="projectPriority.invalid && projectPriority.touched">
                  <p style="margin-left: 15px;">{{ project.projectPriority }}</p>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-sm-2"> Manager: </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" required class="form-control" placeholder="Enter / Search Manager name" value="{{ managerName }}">
                    <div class="input-group-btn">
                          <button type="submit" class="btn btn-outline-success"> Search </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                  <div class="col-sm-12 text-center">
                      <button id="reset" type="reset" class="btn btn-warning btn-space float-right" *ngIf='!isEdit'> Reset </button>
                      <button id="submit" type="submit" class="btn btn-success btn-space float-right" *ngIf='!isEdit'> Add </button>
                      <button id="cancel" class="btn btn-warning btn-space float-right" *ngIf='isEdit' (click)="cancelEdit()"> Cancel </button>
                      <button id="update" type="submit" class="btn btn-success btn-space float-right" *ngIf='isEdit'> Update </button>
                  </div>
              </div>

           </form>
        </div>
        
        <hr>

        <div class="form-group">
            <input type="text" class="form-control" id="searchProject" placeholder="Search By Project Name"
                    [(ngModel)]='projectFilter'>
        </div>

        <div class="row">
            <div class="col-sm-1"> Sort By: </div>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByStart()'> Start Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByEnd()'> End Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByPriority()'> Priority {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-secondary btn-space btn-sm" (click)='sortByCompleted()'> Completed {{ sortOrder ? ' v' : ' ^' }}</button>
        </div>

        <br>

        <div class="col-sm-12 container">
            <ul class="list-unstyled row" *ngFor = 'let project of filteredProjects'>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Project :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ project.projectName }}</li>
              <li class="list-item col-sm-2 p-1 font-weight-bold text-center">Priority</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-success" (click)="editProjectData(project)"> Update </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">No of Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light"> {{ project.numberOfTasks }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Completed Tasks :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.completedTasks }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center">{{ project.projectPriority }}</li>
              <li class="list-item col-sm-2 p-1">
                <button class="btn btn-warning"> Suspend </button>
              </li>

              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Start Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectStartDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">End Date :</li>
              <li class="list-item col-sm-2 p-1 bg-light">{{ project.projectEndDate | date:'MM/dd/yyyy' }}</li>
              <li class="list-item col-sm-2 p-1 col-sm-offset-2 text-center"> </li>
              <br>
            </ul>
        </div>

    </div>
  </div>