<div class='card'>
    <div class="card-body">
        <div class="container">
            <form id="addUserForm" #userForm="ngForm" (ngSubmit)="saveUser(user)">

              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="first"> First Name: </label>
                  <div class="col-sm-10">
                    <input type="text" #firstName="ngModel" class="form-control" placeholder="Enter First name" name="firstName"
                          [class.is-invalid]="firstName.invalid && firstName.touched" [(ngModel)]="user.firstName" required
                          (keydown.space)="$event.preventDefault()">
                  </div>
              </div>
              <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>


              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="last"> Last Name: </label>
                  <div class="col-sm-10">
                    <input type="text" #lastName="ngModel" class="form-control" placeholder="Enter Last name" name="lastName"
                          [class.is-invalid]="lastName.invalid && lastName.touched" [(ngModel)]="user.lastName" required
                          (keydown.space)="$event.preventDefault()">
                  </div>
              </div>
              <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>


              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" for="id"> Employee Id: </label>
                  <div class="col-sm-4">
                    <input type="text" #employeeId="ngModel" class="form-control" placeholder="Enter Employee Id" name="employeeId"
                          [class.is-invalid]="employeeId.invalid && employeeId.touched" [(ngModel)]="user.employeeId" required
                          (keypress)="numberOnly($event)" pattern="[0-9]*" minlength="1">
                  </div>
                  <div class="checkbox">
                      <label><input type="checkbox" #manager="ngModel" name="manager" [(ngModel)]="user.manager">  Assign as Manager </label>
                  </div>
              </div>
              <small class="text-danger" [class.d-none]="employeeId.valid || employeeId.untouched">Employee Id is required</small>
              <small class="text-danger" [class.d-none]="errorMessage == ''">{{ errorMessage }}</small>


              <div class="form-group row">
                <div class="col-sm-12 text-center">
                  <button id="reset" type="reset" class="btn btn-warning btn-space float-right" *ngIf='!isEdit'> Reset </button>
                  <button id="submit" type="submit" class="btn btn-success btn-space float-right" *ngIf='!isEdit'> Add </button>
                  <button id="cancel" class="btn btn-warning btn-space float-right" *ngIf='isEdit' (click)="cancelEdit()"> Cancel </button>
                  <button id="update" type="submit" class="btn btn-success btn-space float-right" *ngIf='isEdit'> Update </button>
                </div>
              </div>

           </form>
        </div>

        <hr>

        <div class="container">
          <div class="form-group row">
              <input type="text" class="form-control col-sm-4" id="searchUser" placeholder="Search By User Name"
                    [(ngModel)]='userFilter'>
              <div class="col-sm-1">Sort By:</div>
              <button class="btn btn-secondary btn-space btn-sm" (click)='sortByFirst()'> First Name {{ sortOrder ? ' v' : ' ^' }}</button>
              <button class="btn btn-secondary btn-space btn-sm" (click)='sortByLast()'> Last Name {{ sortOrder ? ' v' : ' ^' }}</button>
              <button class="btn btn-secondary btn-space btn-sm" (click)='sortById()'> ID {{ sortOrder ? ' v' : ' ^' }}</button>
          </div>
        </div>

        <br>

        <div class="col-sm-8 container">
            <ul class="list-unstyled row" *ngFor = 'let user of filteredUsers'>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">First Name :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ user.firstName }}</li>
              <li class="list-item col-sm-3 p-1">
                <button class="btn btn-success" (click)="editUserData(user)"> Edit </button>
              </li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Last Name :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ user.lastName }}</li>
              <li class="list-item col-sm-3 p-1">
                <button class="btn btn-warning" (click)="deleteUser(user)"> Delete </button>
              </li>
              <li class="list-item col-sm-2 p-1 bg-light font-weight-bold">Employee Id :</li>
              <li class="list-item col-sm-6 p-1 bg-light">{{ user.employeeId }}</li>
              <br>
            </ul>
        </div>

    </div>
  </div>