<div class='card'>
  <div class="card-body">
      <!-- <div class="container"> -->
      <div class="row">
            <div class="col-sm-1"> Project: </div>
            <div class="col-sm-4">
              <input class="form-control" type="text" placeholder="Enter Project name">
            </div>
            <button class="btn btn-sm btn-outline-success col-sm-1"> Search </button>
            <div class="col-sm-2 text-right"> Sort Task By: </div>
            <button class="btn btn-sm btn-secondary btn-space" (click)='sortByStart()'> Start Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-sm btn-secondary btn-space" (click)='sortByEnd()'> End Date {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-sm btn-secondary btn-space" (click)='sortByPriority()'> Priority {{ sortOrder ? ' v' : ' ^' }}</button>
            <button class="btn btn-sm btn-secondary btn-space" (click)='sortByTask()'> Task {{ sortOrder ? ' v' : ' ^' }}</button>
      </div>
      <br>
      <div class="form-group">
          <input type="text" class="form-control" id="searchTask" placeholder="Search By Task Name"
                  [(ngModel)]='viewTaskFilter'>
      </div>

      <hr>

      <div class="col-sm-12 container">
        <ul class="list-unstyled row">
           <li class="list-item col-sm-3 p-2 font-weight-bold"> Task </li>
           <li class="list-item col-sm-2 p-2 font-weight-bold"> Parent </li>
           <li class="list-item col-sm-1 p-2 font-weight-bold text-center"> Priority </li>
           <li class="list-item col-sm-2 p-2 font-weight-bold text-center"> Start </li>
           <li class="list-item col-sm-2 p-2 font-weight-bold text-center"> End </li>
           <li class="list-item col-sm-1 p-2"></li>
           <li class="list-item col-sm-1 p-2"></li>
        </ul>
      </div>
      <hr>
      <div class="col-sm-12 container">
        <ul class="list-unstyled row" *ngFor = 'let viewTask of filteredViewTasks'>
           <li class="list-item col-sm-3 p-2 bg-light">{{ viewTask.task }}</li>
           <li class="list-item col-sm-2 p-2 bg-light">{{ viewTask.parentTask }}</li>
           <li class="list-item col-sm-1 p-2 text-center">{{ viewTask.priority }}</li>
           <li class="list-item col-sm-2 p-2 text-center">{{ viewTask.startDate | date:'MM/dd/yyyy' }}</li>
           <li class="list-item col-sm-2 p-2 text-center">{{ viewTask.endDate | date:'MM/dd/yyyy' }}</li>
           <li class="list-item col-sm-1 p-2">
              <button class="btn btn-success" (click)='updateTask()'> Edit </button>
           </li>
           <li class="list-item col-sm-1 p-2">
              <button class="btn btn-warning"> Delete </button>
           </li>
           <br>
        </ul>
      </div>
  </div>
</div>