<div class='card'>
  <div class="card-body">
      <!-- <div class="container"> -->
      <div class="row">
            <div class="col-md-1">Project:</div>
            <div class="col-md-4">
              <input class="form-control" placeholder="Enter Project name">
            </div>
            <button class="btn btn-outline-success btn-space col-md-1">Search</button>
            <div class="col-md-2 text-right">Sort Task By:</div>
            <button class="btn btn-secondary btn-space">Start Date</button>
            <button class="btn btn-secondary btn-space">End Date</button>
            <button class="btn btn-secondary btn-space">Priority</button>
            <button class="btn btn-secondary btn-space">Completed</button>
      </div>
      <br>
      <div class="row"></div>
      <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th>Task</th>
                <th>Parent</th>
                <th>Priority</th>
                <th>Start</th>
                <th>End</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>
                      <button class="btn btn-success">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-warning">End Task</button>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>